<div class="checkout-box">
  <div class="checkout-header">
    <ion-icon name="card-outline"></ion-icon>
    <h2>Detalles de pago</h2>
    <p>Introduce los datos de tu tarjeta para activar tu cuenta premium.</p>
  </div>

  <form (ngSubmit)="simularPago()" #formPago="ngForm" class="form-checkout">

    <ion-item lines="none">
      <ion-label position="stacked">Nombre del titular</ion-label>
      <ion-input required [(ngModel)]="form.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Número de tarjeta</ion-label>
      <ion-input required type="tel" maxlength="16" [(ngModel)]="form.tarjeta" name="tarjeta"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="stacked">Expiración</ion-label>
            <ion-input required placeholder="MM/AA" [(ngModel)]="form.expiracion" name="expiracion"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="stacked">CVV</ion-label>
            <ion-input required maxlength="4" [(ngModel)]="form.cvv" name="cvv"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" type="submit" [disabled]="isPaying || !formPago.valid">
      {{ isPaying ? 'Procesando...' : 'Pagar ahora' }}
    </ion-button>
  </form>
</div>
