<footer class="footer-wrapper">
  <div class="footer-content">
    <div class="footer-brand">
      <img src="assets/logo-thry24.jpeg" alt="Logo Thry24" />
      <h2>Thry24</h2>
      <p>Tu portal inmobiliario de confianza</p>
    </div>

    <div class="footer-contact">
      <h3>Contacto</h3>
      <p>
        <ion-icon name="location-outline"></ion-icon> Av. Constituyentes 73,
        Casa Blanca, 76030 Santiago de Querétaro, Qro.
      </p>
      <p><ion-icon name="call-outline"></ion-icon> +52 55 1234 5678</p>
      <p>
        <ion-icon name="mail-outline"></ion-icon>
        <a href="mailto:contactanos&#64;Thry24mx.com"
          >contactanos&#64;thry24.mx</a
        >
      </p>

      <div class="footer-social">
        <a href="https://facebook.com" target="_blank"
          ><ion-icon name="logo-facebook"></ion-icon
        ></a>
        <a href="https://instagram.com" target="_blank"
          ><ion-icon name="logo-instagram"></ion-icon
        ></a>
        <a href="https://twitter.com" target="_blank"
          ><ion-icon name="logo-twitter"></ion-icon
        ></a>
        <a href="https://linkedin.com" target="_blank"
          ><ion-icon name="logo-linkedin"></ion-icon
        ></a>
      </div>
    </div>

    <div class="footer-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.367105034072!2d-100.41056682555156!3d20.578312003610487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35b1e9d69ae2f%3A0xe3ef3c85b74827fd!2sAv.%20Constituyentes%2073%2C%20Casa%20Blanca%2C%2076030%20Santiago%20de%20Quer%C3%A9taro%2C%20Qro.!5e0!3m2!1ses!2smx!4v1719351862345!5m2!1ses!2smx"
        width="100%"
        height="200"
        style="border: 0; border-radius: 10px"
        allowfullscreen=""
        loading="lazy"
      >
      </iframe>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Thry24. Todos los derechos reservados.</p>
  </div>
</footer>
