<app-header></app-header>
<app-loading></app-loading>

<ion-content [fullscreen]="true">
  <section class="hero-ai24">
    <div class="glass-content">
      <h1 class="titulo-ai24">Bienvenido a <span>Ai24</span></h1>
      <p class="subtitulo-ai24">
        Plataforma inteligente para buscar, publicar y gestionar propiedades.
        Donde compradores, arrendadores y asesores se conectan en un solo lugar.
      </p>
    </div>
  </section>

  <section class="tabs-tipos">
    <div class="contenedor-tabs-y-titulo">
      <ul class="lista-tipos">
        <li
          class="item-tipo"
          *ngFor="let tipo of tipos"
          [ngClass]="{ activo: tipoSeleccionado === tipo.clave }"
          (click)="cambiarTipo(tipo.clave)"
        >
          {{ tipo.label }}
        </li>
      </ul>

      <div class="seccion-destacadas">
        <h4 class="subtitulo-naranja">PROPIEDADES DESTACADAS</h4>
        <h2 class="titulo-destacadas">
          Descubre nuestras propiedades destacas
        </h2>
        <p class="descripcion-destacadas">
          Miles de propiedades disponibles para comprar o rentar.
        </p>
      </div>
    </div>
  </section>

  <section class="resultados-section">
    <div
      class="propiedades-grid"
      *ngIf="propiedadesFiltradas.length > 0; else sinPropiedades"
    >
      <div
        class="card-propiedad"
        *ngFor="let propiedad of propiedadesFiltradas.slice(0, 4)"
        [routerLink]="['/detalle-propiedad', propiedad._id]"
      >
        <div class="img-wrapper">
          <img
            [src]="propiedad.imagenPrincipal || 'assets/img/sin-imagen.jpg'"
            alt="imagen"
          />
          <div class="etiqueta">
            {{ propiedad.estadoPropiedad | uppercase }}
          </div>
          <div class="iconos-superiores">
            <ion-icon
              [name]="esFavorito(propiedad._id) ? 'heart' : 'heart-outline'"
              [class.favorito-activo]="esFavorito(propiedad._id)"
              class="icono"
              title="Agregar a favoritos"
              (click)="toggleFavorito($event, propiedad._id)"
            ></ion-icon>
            <ion-icon
                [name]="esComparada(propiedad._id) ? 'remove-circle-outline' : 'add-circle-outline'"
                [class.comparar-activo]="esComparada(propiedad._id)"
                class="icono"
                title="Comparar"
                (click)="toggleComparar($event, propiedad._id, propiedad.tipoPropiedad)"
              ></ion-icon>
          </div>
        </div>

        <div class="card-content">
          <div class="tipo">{{ propiedad.tipoPropiedad | uppercase }}</div>
          <div class="precio">{{ propiedad.precio | currency: 'MXN' }}</div>
          <div class="descripcion">
            {{ propiedad.descripcion?.length > 75 ? (propiedad.descripcion
            |slice:0:75) + '... Ver más' : (propiedad.descripcion ||
            'Sindescripción') }}
          </div>

          <div class="ubicacion">
            <ion-icon name="location-outline"></ion-icon>
            {{ propiedad.direccion?.municipio }}, {{ propiedad.direccion?.estado
            }}
          </div>

          <div class="detalles">
            <ng-container
              *ngIf="tipoSeleccionado === 'casa' || tipoSeleccionado === 'departamento'"
            >
              <span
                ><ion-icon name="bed-outline"></ion-icon> {{
                propiedad.caracteristicas?.casaDepto?.habitaciones || 0 }}
                recámaras</span
              >
              <span
                ><ion-icon name="water-outline"></ion-icon> {{
                propiedad.caracteristicas?.casaDepto?.banosCompletos || 0 }}
                baños</span
              >
              <span
                ><ion-icon name="car-outline"></ion-icon> {{
                propiedad.caracteristicas?.casaDepto?.estacionamiento || 0
                }}</span
              >
            </ng-container>

            <ng-container *ngIf="tipoSeleccionado === 'terreno'">
              <span
                *ngIf="propiedad.caracteristicas?.terreno?.m2Frente && propiedad.caracteristicas?.terreno?.m2Fondo"
              >
                <ion-icon name="expand-outline"></ion-icon>
                {{ propiedad.caracteristicas?.terreno?.m2Frente }} x {{
                propiedad.caracteristicas?.terreno?.m2Fondo }} m (Frente x
                Fondo)
              </span>
              <span *ngIf="propiedad.caracteristicas?.terreno?.tipo">
                <ion-icon name="map-outline"></ion-icon>
                Tipo: {{ propiedad.caracteristicas?.terreno?.tipo }}
              </span>
              <span *ngIf="propiedad.caracteristicas?.terreno?.costoXM2">
                <ion-icon name="cash-outline"></ion-icon>
                ${{ propiedad.caracteristicas?.terreno?.costoXM2 }} por m²
              </span>
            </ng-container>

            <ng-container *ngIf="tipoSeleccionado === 'rancho'">
              <span *ngIf="propiedad.caracteristicas?.rancho?.hectareas">
                <ion-icon name="analytics-outline"></ion-icon>
                {{ propiedad.caracteristicas?.rancho?.hectareas }} hectáreas
              </span>
              <span *ngIf="propiedad.caracteristicas?.rancho?.uso">
                <ion-icon name="leaf-outline"></ion-icon>
                Uso: {{ propiedad.caracteristicas?.rancho?.uso }}
              </span>
              <span *ngIf="propiedad.caracteristicas?.rancho?.pozo">
                <ion-icon name="water-outline"></ion-icon>
                Cuenta con pozo
              </span>
            </ng-container>

            <ng-container *ngIf="tipoSeleccionado === 'oficina'">
              <span *ngIf="propiedad.caracteristicas?.oficina?.superficie">
                <ion-icon name="expand-outline"></ion-icon>
                {{ propiedad.caracteristicas?.oficina?.superficie }} m²
              </span>
              <span *ngIf="propiedad.caracteristicas?.oficina?.privados">
                <ion-icon name="people-outline"></ion-icon>
                {{ propiedad.caracteristicas?.oficina?.privados }} privados
              </span>
              <span *ngIf="propiedad.caracteristicas?.oficina?.salaJuntas">
                <ion-icon name="podium-outline"></ion-icon>
                {{ propiedad.caracteristicas?.oficina?.salaJuntas }} sala(s) de
                juntas
              </span>
            </ng-container>
            <ng-container *ngIf="tipoSeleccionado === 'local'">
              <span *ngIf="propiedad.caracteristicas?.local?.superficie">
                <ion-icon name="expand-outline"></ion-icon>
                {{ propiedad.caracteristicas?.local?.superficie }} m²
              </span>
              <span *ngIf="propiedad.caracteristicas?.local?.estacionamientos">
                <ion-icon name="car-outline"></ion-icon>
                {{ propiedad.caracteristicas?.local?.estacionamientos }}
                estacionamientos
              </span>
              <span *ngIf="propiedad.caracteristicas?.local?.frente">
                <ion-icon name="contract-outline"></ion-icon>
                Frente: {{ propiedad.caracteristicas?.local?.frente }} m
              </span>
            </ng-container>
            <ng-container *ngIf="tipoSeleccionado === 'bodega'">
              <span *ngIf="propiedad.caracteristicas?.bodega?.superficie">
                <ion-icon name="expand-outline"></ion-icon>
                {{ propiedad.caracteristicas?.bodega?.superficie }} m²
              </span>
              <span *ngIf="propiedad.caracteristicas?.bodega?.resistenciaPiso">
                <ion-icon name="construct-outline"></ion-icon>
                Piso: {{ propiedad.caracteristicas?.bodega?.resistenciaPiso }}
              </span>
              <span *ngIf="propiedad.caracteristicas?.bodega?.altura">
                <ion-icon name="trending-up-outline"></ion-icon>
                Altura: {{ propiedad.caracteristicas?.bodega?.altura }} m
              </span>
            </ng-container>
            <ng-container *ngIf="tipoSeleccionado === 'edificio'">
              <span *ngIf="propiedad.caracteristicas?.edificio?.niveles">
                <ion-icon name="layers-outline"></ion-icon>
                {{ propiedad.caracteristicas?.edificio?.niveles }} niveles
              </span>
              <span *ngIf="propiedad.caracteristicas?.edificio?.departamentos">
                <ion-icon name="business-outline"></ion-icon>
                {{ propiedad.caracteristicas?.edificio?.departamentos }}
                departamentos
              </span>
              <span
                *ngIf="propiedad.caracteristicas?.edificio?.estacionamientos"
              >
                <ion-icon name="car-outline"></ion-icon>
                {{ propiedad.caracteristicas?.edificio?.estacionamientos }}
                estacionamientos
              </span>
            </ng-container>
          </div>

          <div class="acciones">
            <a
              *ngIf="propiedad.agente?.telefono"
              [href]="'tel:' + propiedad.agente.telefono"
              class="btn-contacto"
            >
              <ion-icon name="call-outline"></ion-icon> Llamar
            </a>
            <a
              *ngIf="propiedad.agente?.correo"
              [href]="'mailto:' + propiedad.agente.correo"
              class="btn-contacto"
            >
              <ion-icon name="mail-outline"></ion-icon> Email
            </a>
            <a
              *ngIf="propiedad.agente?.telefono"
              [href]="'https://wa.me/52' + propiedad.agente.telefono"
              target="_blank"
              class="btn-contacto"
            >
              <ion-icon name="logo-whatsapp"></ion-icon> WhatsApp
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ver-mas-wrapper">
      <button class="btn-ver-mas" (click)="verMas()">Ver más</button>
    </div>

    <ng-template #sinPropiedades>
      <p class="mensaje-vacio">No hay propiedades disponibles de este tipo.</p>
    </ng-template>
  </section>

  <section class="formulario-agente">
    <form
      class="form-contacto"
      (ngSubmit)="enviarFormulario()"
      #formAgente="ngForm"
    >
      <h2 class="form-title">CONTACTA A UN AGENTE ES MUY FÁCIL</h2>

      <select
        required
        [(ngModel)]="formData.tipoPropiedad"
        name="tipoPropiedad"
      >
        <option value="" disabled selected hidden>Tipo de propiedad</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.clave">
          {{ tipo.label }}
        </option>
      </select>

      <select required [(ngModel)]="formData.soy" name="soy">
        <option value="" disabled selected hidden>Soy...</option>
        <option value="cliente-comprador">Cliente comprador</option>
        <option value="cliente-arrendatario">Cliente arrendatario</option>
        <option value="cliente-propietario">Cliente propietario</option>
        <option value="asesor-inmobiliario">Asesor inmobiliario</option>
      </select>

      <div class="fila-doble">
        <input
          type="text"
          placeholder="Nombre"
          required
          [(ngModel)]="formData.nombre"
          name="nombre"
        />
        <input
          type="text"
          placeholder="Apellidos"
          required
          [(ngModel)]="formData.apellidos"
          name="apellidos"
        />
      </div>

      <div class="fila-doble">
        <input
          type="tel"
          placeholder="Teléfono"
          required
          pattern="[0-9]{10}"
          [(ngModel)]="formData.telefono"
          name="telefono"
          title="Ingresa 10 dígitos"
        />
        <input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="formData.email"
          name="email"
        />
      </div>

      <div class="fila-doble">
        <input
          type="text"
          placeholder="Ciudad"
          required
          [(ngModel)]="formData.ciudad"
          name="ciudad"
        />
        <input
          type="text"
          placeholder="Municipio"
          required
          [(ngModel)]="formData.municipio"
          name="municipio"
        />
      </div>

      <input
        type="text"
        placeholder="Escribe las características de la propiedad que buscas"
        [(ngModel)]="formData.caracteristicas"
        name="caracteristicas"
      />
<div class="fila-doble">
  <input
    type="text"
    placeholder="Presupuesto mínimo"
    [value]="formatearPrecio(formData.presupuestoMin)"
    (input)="actualizarPresupuesto($event, 'min')"
  />

  <input
    type="text"
    placeholder="Presupuesto máximo"
    [value]="formatearPrecio(formData.presupuestoMax)"
    (input)="actualizarPresupuesto($event, 'max')"
  />
</div>



      <select
        required
        [(ngModel)]="formData.formaPago"
        name="formaPago"
        (change)="verificarBroker()"
      >
        <option value="" disabled selected hidden>Forma de Pago</option>
        <option value="recursos-propios">Recursos propios</option>
        <option value="credito-hipotecario">Crédito hipotecario</option>
        <option value="no-se">Aún no sé</option>
      </select>

      <select
        required
        [(ngModel)]="formData.medioContacto"
        name="medioContacto"
      >
        <option value="" disabled selected>
          ¿Por qué medio quieres que te enviemos la información?
        </option>
        <option value="whatsapp">WhatsApp</option>
        <option value="correo">Correo electrónico</option>
      </select>

      <button type="submit" class="boton-submit">Enviar</button>
    </form>
  </section>

  <app-footer></app-footer>
</ion-content>
